torch>=1.13.1
protobuf
cpm_kernels
sentencepiece
transformers @ git+https://gitee.com/ticoAg/transformers.git
datasets>=2.10.0
accelerate @ git+https://gitee.com/ticoAg/accelerate.git  
peft @ git+https://gitee.com/ticoAg/peft.git
trl @ git+https://gitee.com/ticoAg/trl.git
jieba
rouge_chinese
nltk
gradio
mdtex2html
protobuf==3.19.0